{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Section</title>
    <link rel="stylesheet" href= {% static 'style.css' %}>
</head>
<body>
<form id="deleteSectionFrom" action="/home/managesection/delete/" method="post">
    {% csrf_token %}
    {% for section in sections %}
        <input id="section" type="radio" name="sections" value="{{ section }}">
        <label for="section">{{ section }}</label><br>
    {% endfor %}
    <input type="submit" value = "Delete Section">
</form>
<a href="/home/managesection">Cancel</a>
</body>
</html>