{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Section</title>
    <link rel="stylesheet" href= {% static 'css/style.css' %}>
</head>
<body>
<h1>Edit Section {{ section }}</h1>
{{ message }}
<table>
    <form id="editSectionFrom" action="/home/managesection/edit/" method="post">
        {% csrf_token %}
        <tr>
            <td><label for="section_id">Section ID:</label></td>
            <td><input id="section_id" type="number" name="section_id" value="{{ section.section.section_id }}"></td>
        </tr>
        <tr>
            <td><label for="location">Location:</label></td>
            <td><input id="location" type="text" name="location" value="{{ section.section.location }}"></td>
        </tr>
        <tr>
            <td><label for="meeting_time">Meeting Times:</label></td>
            <td><input id="meeting_time" type="text" name="meeting_time" value="{{ section.section.meeting_time }}"><br></td>
        </tr>
        <tr><td colspan="2"><input type="submit" value="Edit Section"></td></tr>
    </form>
      <td colspan="2">
        <a class="nav-button" href="/home/managesection/">Cancel</a>
    </td>>
        </tr>
</table>
</body>
</html>