{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructor assign TA</title>
    <link rel="stylesheet" href= {% static 'css/style.css' %}>
</head>
<body>
<h1>Instructor assign ta to section</h1>
<table>
    <tr><td>{{ message }}</td></tr>
    <form id="intr_ta_to_section" action="/home/managesection/instraddta/" method="post">
    {% csrf_token %}
    {% for ta in tas %}
        <tr>
            <td>
        <input id="ta" type="radio" name="ta" value="{{ ta }}">
        <label for="ta">{{ ta }}</label>
            </td>
        </tr>
    {% endfor %}
    {% for section in sections %}
        <tr>
            <td>
        <input id="section" type="radio" name="section" value="{{ section }}">
        <label for="section">{{ section }}</label>
            </td>
        </tr>
    {% endfor %}
        <tr><td><input type="submit"></td></tr>
    </form>
    <tr><td><a href="/home/managesection/">Cancel</a></td></tr>
</table>
</body>
</html>