<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set TA Skills</title>
</head>
<body>
<h1>Set TA Skills</h1>
{{ message }}

<table>
    <tr>
        <td>
            {{ userInfo }}
        </td>
    </tr>
    <tr>
        <td>
            {{ currentSkills }}
        </td>
    </tr>
    <form id="" action="" method="">
        <tr>
            <td>
                <label for="skills">Set Skills</label>
            </td>
            <td>
                <input type="text" id="skills" name="skills"><br>
            </td>
        </tr>
        <tr><td colspan="2"><input type="submit"></td></tr>
    </form>
</table>
</body>
</html>