{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose section to add User to</title>
    <link rel="stylesheet" href= {% static 'css/style.css' %}>
</head>
<body>

<form id="section_selection" action="/home/managecourse/addinstructor/choosecourse" method="get">
{% csrf_token %}
{{ chosen }}<br>
{% for course in courses %}
    <input id="course" type="radio" name="course" value="{{ course }}">
    <label for="course">{{ course }}</label><br>
{% endfor %}
    <input type="submit">
{{ message }}<br>
</form>

<a href="/home/managecourse/">Cancel</a>
</body>
</html>