{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose section to add User to</title>
    <link rel="stylesheet" href= {% static 'css/style.css' %}>
</head>
<body>
<table>
    <tr><td>{{ message }}</td></tr>
    <form id="section_selection" action="/home/managecourse/addinstructor/choosecourse" method="post">
    {% csrf_token %}
    <tr><td>{{ chosen }}</td></tr>

    {% for course in courses %}
        <tr>
        <td>
            <input id="course" type="radio" name="course" value="{{ course }}">
            <label for="course">{{ course }}</label>
        </td>
        </tr>
    {% endfor %}
    <tr><td><input type="submit"></td></tr>
    </form>
    <tr><td><a href="/home/managecourse/">Cancel</a></td></tr>
</table>

</body>
</html>