{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assign User to {{ course }}</title>
    <link rel="stylesheet" href= {% static 'css/style.css' %}>
</head>
<body>
<h1>{{ course }}</h1>
{{ message }}
<h2>Course Details</h2>
<p><strong>Description:</strong> {{ course_info.description }}</p>
<p><strong>Number of Sections:</strong> {{ course_info.num_of_sections }}</p>
<p><strong>Modality:</strong> {{ course_info.modality }}</p>
<table>
    {% if not assignedEmpty %}
    <tr><th colspan="2">Assigned Users</th></tr>
    {% for user in assigned %}
       <form id="unassign" action="/home/managecourse/assignuser/" method="post">
           {% csrf_token %}
       <tr>
           <td>{{ user }}</td>
           <input type="hidden" name="course" value="{{ course }}">
           <input type="hidden" name="user" value="{{ user }}">
           {% if role == "Admin" %}
           <td><input type="submit" name="unassign" value="Unassign"></td>
           {% endif %}
       </tr>
       </form>
    {% endfor %}
    {% endif %}
    {% if not unassignedEmpty and role == "Admin" %}
    <tr><th colspan="2">Available Users to Assign</th></tr>
    {% for user in unassigned %}
       <form id="assign" action="/home/managecourse/assignuser/" method="post">
           {% csrf_token %}
       <tr>
           <td>{{ user }}</td>
           <input type="hidden" name="course" value="{{ course }}">
           <input type="hidden" name="user" value="{{ user }}">
           <td><input type="submit" name="assign" value="Assign"></td>
       </tr>
       </form>
    {% endfor %}
    {% endif %}

    {% if assignedEmpty and unassignedEmpty %}
    <tr><td>No users available to assign and no users currently assigned</td></tr>
    {% endif %}
    <tr><td colspan="2"><a href="/home/managecourse/">Cancel</a></td></tr>
</table>

</body>
</html>