{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Management</title>
    <link rel="stylesheet" href= {% static 'css/style.css' %}>
</head>
<body>
<h1>Course Management</h1>
<table>
    <tr>
        <td>
            <a href="/home/managecourse/create">Create Course</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/home/managecourse/delete">Delete Course</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/home/managecourse/edit">Edit Course</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/home/managecourse/addinstructor">Add Instructor to Course</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/home">Home</a>
        </td>
    </tr>
</table>
</body>
</html>