{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Course Management</title>
    <link rel="stylesheet" href= {% static 'css/style.css' %}>
</head>

<body>
<h1>Course Management</h1>
{{ message }} <!-- Assuming you want to display a message like in Account Management -->
<table>
    {% for course in courses %} <!-- Loop through courses -->
    <form id="courseChange" action="/home/managecourse/" method="post">
        {% csrf_token %}
        <tr>
            <td>{{ course.course }}</td> <!-- Display course name -->
            <input type="hidden" name="course" value="{{ course.course }}">
            {% if role == "Admin" %}
            <td><input type="submit" name="edit" value="Edit"></td> <!-- Edit button -->
            <td><input type="submit" name="delete" value="Delete"></td> <!-- Delete button -->
            {% endif %}
            <td><input type="submit" name="details" value="Details"></td>
        </tr>
    </form>
    {% endfor %}
    <tr>
        <td colspan="4">
            <a href="/home/managecourse/create">Create Course</a>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <a href="/home">Home</a>
        </td>
    </tr>
</table>
</body>
</html>
