{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Course</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header class="header">
        <h1>Create Course</h1>
    </header>
    <table>
        <form action="/home/managecourse/create/" method="post" class="course-form">
    {% csrf_token %}
        <tr><td>
            <label for="courseId">Course ID:</label>
            <input type="text" id="courseId" name="course_id">
        </td></tr>
        <tr><td>
            <label for="courseName">Course Name:</label>
            <input type="text" id="courseName" name="name">
        </td></tr>
        <tr><td>
            <label for="description">Description:</label>
            <textarea id="description" name="description"></textarea>
        </td></tr>
        <tr><td>
            <label for="sections">Number of Sections:</label>
            <input type="number" id="sections" name="num_of_sections">
        </td></tr>
        <tr><td>
            <label for="modality">Modality:</label>
            <select id="modality" name="modality">
                <option value="Online">Online</option>
                <option value="In-person">In-person</option>
                <option value="Hybrid">Hybrid</option>
            </select>
        </td></tr>
        <tr><td>
            <label for="credits">Credits:</label>
            <input type="number" id="credits" name="credits">
        </td></tr>
            <tr><td>
                 <label for="semester">Semester:</label>
                <input type="text" id="semester" name="semester">
            </td></tr>

        <tr><td>
            <label for="semester">Semester:</label>
            <input type="text" id="semester" name="semester">
        </td></tr>
        <tr><td><input type="submit" value="Create Course"></td></tr>
    </form>
        <tr>
            <td>
                <a href="/home/managecourse">Cancel</a>
            </td>
        </tr>
    </table>
</body>
</html>