{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Course</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h2>Delete Course</h2>
    <form action='home/managecourse/delete' method="post">
        {% csrf_token %}
        <label for="courseSelect">Select Course:</label>
        <select id="courseSelect" name="course_id">
            {% for course in courses %}
                <option value="course">{{ course }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Delete Course">
    </form>

    <a href="/home/managecourse">Cancel</a>
</body>
</html>