{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Course</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Edit Course</h1>
    <table class="form-table">
        <form action='/home/managecourse/edit/' method="post">
            {% csrf_token %}
            {% if selected %}
                <input type="hidden" name="course_id" value="{{ selected_course.id }}">

              <tr>
                <td><label for="name">Course Name:</label></td>
                  <td><input type="text" id="name" name="name" value="{{ selected_course.name }}"></td>
                </tr>

               <tr>
                   <td><label for="description">Description:</label></td>
                   <td><textarea id="description" name="description">{{ selected_course.description }}</textarea></td>
               </tr>

               <tr>
                   <td><label for="num_of_sections">Number of Sections:</label></td>
                   <td><input type="number" id="num_of_sections" name="num_of_sections" value="{{ selected_course.num_of_sections }}"></td>
               </tr>

               <tr>
                   <td><label for="modality">Modality:</label></td>
                    <td>
                    <select id="modality" name="modality">
                        <option value="In-person" {% if selected_course.modality == 'In-person' %} selected {% endif %}>In-person</option>
                        <option value="Online" {% if selected_course.modality == 'Online' %} selected {% endif %}>Online</option>
                        <option value="Hybrid" {% if selected_course.modality == 'Hybrid' %} selected {% endif %}>Hybrid</option>
                    </select>
                    </td>
               </tr>

               <tr>
                <td colspan="2">
                    <input type="submit" value="Update Course" class=" nav-button">
                    <a class="nav-button" href="/home/managecourse">Cancel</a>
                </td>
               </tr>
            {% endif %}
        </form>
    </table>
</body>
</html>