{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Admin Home</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'manageaccount' %}">Account Management</a></li>
            <li><a href="{% url 'managecourse' %}">Course Management</a></li>
            <li><a href="{% url 'managesection' %}">Section Management</a></li>
        </ul>
    </nav>
    <section>
        <h2>Welcome, {{ username }}!</h2>
        <!-- Additional section content here, if necessary -->
    </section>
    <footer>
        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <input type="submit" name="logout" value="Logout">
        </form>
    </footer>
</body>
</html>
