{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ role_name }} Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>{{ role_name }} Home</h1>
    </header>
    {% if role_admin %}
    <nav>
        <table>
            <tr>
                <td>
                    <a href="{{ manage_accounts }}">Account Management</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ manage_courses }}">Course Management</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ manage_sections }}">Section Management</a>
                </td>
            </tr>
        </table>



    </nav>
    {% endif %}
    <section>
        <h2>Welcome, {{ username }}!</h2>
    </section>
    <footer>
        <form action="/home/" method="post">
            {% csrf_token %}
            <input type="submit" name="logout" value="Logout">
        </form>
    </footer>
</body>
</html>
