{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Management</title>
    <link rel="stylesheet" href= {% static 'css/style.css' %}>
</head>
<body>
<h1>Account Management</h1>
{{ message }}
<table>
    {% for user in users %}
        <form id="userChange" action="/home/manageaccount/" method="post">
            {% csrf_token %}
            <tr>
                <td>{{ user }}</td>
                <input type="hidden" name="user" value="{{ user }}">
                {% if role == "Admin" or user == current_user %}
                    <td><input id="edit" type="submit" name="edit" value="Edit"></td>
                    {% if user != current_user %}
                        <td><input id="delete" type="submit" name="delete" value="Delete"></td>
                    {% endif %}
                {% endif %}
            </tr>
        </form>
    {% endfor %}
    {% if role == "Admin" %}
        <tr>
            <td colspan="3">
                <a href="/home/manageaccount/create/">Create Account</a>
            </td>
        </tr>
    {% endif %}
    <tr>
        <td colspan="3">
            <a href="/home/">Home</a>
        </td>
    </tr>
</table>


</body>
</html>