{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Account</title>
    <link rel="stylesheet" href= {% static 'css/style.css' %}>
</head>
<body>
<h1>Delete Account</h1>>
<form id="deleteUserFrom" action="/home/manageaccount/delete/" method="post">
{% csrf_token %}
{% for user in users %}
    <input id="user" type="radio" name="user" value="{{ user }}">
    <label for="user">{{ user }}</label><br>
{% endfor %}
    <input type="submit">
</form>

<a href="/home/manageaccount/">Cancel</a>
</body>
</html>